body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.puzzle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
}
.row:nth-child(3n){
    border-bottom: 3px solid black;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px black solid;
    width:4vw;
    height:4vw;
    font-weight: 900;
    color:black;
}
.cell:nth-child(3n){
    border-right: 3px solid black;
}
.candidates{
    color:rgb(173, 60, 32);
    font-size: 8px;
    display:flex;

}

.output{
    position: absolute;
    top: 15%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:26px;
}
.output>input{
    width:10vw;
    height:10vh;
    font-size: 36px;
    text-align: center;
}